@charset "utf-8";
/**
 * Author：Xavier;
 * Create  Time：2018-01-29 11:59;
 * Description：
 */
//css公共样式
body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, dl, dt, dd, ul, ol, li, pre, form, fieldset, legend, button, input, textarea, th, td, figure, figcaption { margin:0; padding:0; }
h1, h2, h3, h4, h5, h6{ font-size:100%; font-weight:normal; }
address, cite, dfn, em, var { font-style:normal; }
code, kbd, pre, samp { font-family:couriernew, courier, monospace; }
small{ font-size:14px; }
ul, ol { list-style:none; }
a { text-decoration:none;color: #000;display: block;}
sup { vertical-align:text-top; }
sub{ vertical-align:text-bottom; }
legend { color:#000; }
fieldset, img { border:0; }
button, input, select, textarea { font-size:100%; }
table { border-collapse:collapse; border-spacing:0; }
body{ background: #ededed; font-family: "PingFang SC","Helvetica Neue",Helvetica,Arial,"Hiragino Sans GB","Microsoft Yahei","微软雅黑",STHeiti,"华文细黑",sans-serif;color: #666;font-size: 14px;}
img{width: 100%;height: 100%;display: block;}
//字体图标
@font-face {
  font-family: 'iconfont';  /* project id 557669 */
  src: url('//at.alicdn.com/t/font_557669_7ls5hsfv5ev78pvi.eot');
  src: url('//at.alicdn.com/t/font_557669_7ls5hsfv5ev78pvi.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_557669_7ls5hsfv5ev78pvi.woff') format('woff'),
  url('//at.alicdn.com/t/font_557669_7ls5hsfv5ev78pvi.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_557669_7ls5hsfv5ev78pvi.svg#iconfont') format('svg');
}
.el-input-number__decrease,.el-input-number__increase{
  border-radius: 50%;
  border: none;
  width: 25px;
  height: 25px;
  line-height: 25px;
  text-align: center;
  background: #fff;
  border: 1px solid #ccc;
  box-shadow: 0px 0px 10px 1px #ccc;
  top: 6px;
}
.el-input-number{
  display: flex;
  align-items: center;
}
.el-input__inner{
  border: none;
}
.el-popover{
  padding: 0;
}
